parameters:
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    fileExtensions:
        - php
        - phtml
    paths:
        - Api
        - Block
        - Controller
        - Helper
        - Model
        - Plugin
        - Repository
        - Setup
        - Ui
        - Validator
        - view
    ignoreErrors:
        -
            message: '~Parameter #1 \$modelId of method Magento\\Framework\\Model\\AbstractModel::load\(\) expects int, string given~'
            path: Repository/WhitelistRepository.php
        -
            message: '~Method BitExpert\\ForceCustomerLogin\\Repository\\WhitelistRepository::getList\(\) should return~'
            path: Repository/WhitelistRepository.php