parameters:
    level: 7
    paths:
        - Api
        - Block
        - Controller
        - Helper
        - Model
        - Plugin
        - Repository
        - Setup
        - Ui
        - Validator
        - view
includes:
    - vendor/bitexpert/phpstan-magento/extension.neon
