<?xml version="1.0"?>
<!--
/**
 * This file is part of the Magento2 Force Login Module package.
 *
 * (c) bitExpert AG
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Controllers -->
    <type name="\bitExpert\ForceCustomerLogin\Controller\LoginCheck">
        <arguments>
            <argument name="targetUrl" xsi:type="string">customer/account/login</argument>
        </arguments>
    </type>

    <!-- Entities -->
    <preference for="\bitExpert\ForceCustomerLogin\Api\Data\WhitelistEntryInterface"
                type="\bitExpert\ForceCustomerLogin\Model\WhitelistEntry" />

    <!-- Factories -->
    <preference for="\bitExpert\ForceCustomerLogin\Api\Data\WhitelistEntryFactoryInterface"
                type="\bitExpert\ForceCustomerLogin\Model\WhitelistEntryFactory" />
    <preference for="\bitExpert\ForceCustomerLogin\Api\Data\Collection\WhitelistEntryCollectionFactoryInterface"
                type="\bitExpert\ForceCustomerLogin\Model\ResourceModel\WhitelistEntry\CollectionFactory" />

    <!-- Preferences -->
    <preference for="\bitExpert\ForceCustomerLogin\Api\Controller\LoginCheckInterface"
                type="\bitExpert\ForceCustomerLogin\Controller\LoginCheck" />

    <!-- Repositories -->
    <preference for="\bitExpert\ForceCustomerLogin\Api\Repository\WhitelistRepositoryInterface"
                type="\bitExpert\ForceCustomerLogin\Repository\WhitelistRepository" />


    <!-- UI Components -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="whitelist_overview_data_source" xsi:type="string">\bitExpert\ForceCustomerLogin\Model\ResourceModel\WhitelistEntry\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="\bitExpert\ForceCustomerLogin\Model\WhitelistEntry\Config">
        <arguments>
            <argument name="state" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
        </arguments>
    </type>

    <virtualType name="\bitExpert\ForceCustomerLogin\Model\ResourceModel\WhitelistEntry\Grid\Collection" 
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">bitexpert_forcelogin_whitelist</argument>
            <argument name="resourceModel" xsi:type="string">\bitExpert\ForceCustomerLogin\Model\ResourceModel\WhitelistEntry</argument>
        </arguments>
    </virtualType>

</config>
